<div class="modal__underlay" (click)="close()"></div>

<div class="modal__container">
  <button *ngIf="isClosable" class="modal__close-button" (click)="close()">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M10.6215 12L4 5.37853L5.37853 4L12 10.6215L18.6215 4L20 5.37853L13.3785 12L20 18.6215L18.6215 20L12 13.3785L5.37853 20L4 18.6215L10.6215 12Z"
        fill="#BABFCB"
      />
    </svg>
  </button>
  <ng-content></ng-content>
</div>
