<!-- <app-main-content-wrapper>
  <app-banner-awaiting class="banner"></app-banner-awaiting>
</app-main-content-wrapper> -->
<app-banner-awaiting class="banner"></app-banner-awaiting>
<app-footer>
  <app-button styleOption="blank" (onClick)="clickBackButtonHandler()"
    >Назад</app-button
  >
  <app-button
    (onClick)="clickRemoveButton()"
    styleOption="blank"
    colorOption="danger"
    >Удалить</app-button
  >
</app-footer>
<!-- <app-footer>
  <app-button (onClick)="removeDraft()" styleOption="blank" colorOption="danger"
    >Удалить</app-button
  >
</app-footer> -->
