<!-- <app-main-content-wrapper>
  <app-banner-awaiting class="banner"></app-banner-awaiting>
</app-main-content-wrapper> -->
<app-banner-awaiting class="banner"></app-banner-awaiting>
<app-footer>
  <app-button
    class="left-side"
    styleOption="blank"
    (onClick)="backButtonHandler()"
    >Назад</app-button
  >
  <app-button
    class="right-side"
    (onClick)="removeButtonHandler()"
    styleOption="blank"
    colorOption="danger"
    >Удалить</app-button
  >
</app-footer>
<!-- <app-footer>
  <app-button (onClick)="removeDraft()" styleOption="blank" colorOption="danger"
    >Удалить</app-button
  >
</app-footer> -->
