:host {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: fit-content;
  height: 30px;
  width: inherit;
}

.nopaper-logo__image {
  /* height: inherit;
  width: inherit; */
  width: inherit;
  height: inherit;
}
