<h1 class="stage-header__title">{{ caption }}</h1>
<app-document-count-label
  class="stage-header__count-label"
  count="1"
></app-document-count-label>
<app-document-count-label
  class="stage-header__count-label"
  count="2"
></app-document-count-label>
<app-document-count-label
  class="stage-header__count-label"
  count="5"
></app-document-count-label>
<app-status-label
  class="stage-header__status-label"
  status="draft"
></app-status-label>
<app-status-label
  class="stage-header__status-label"
  status="pending"
></app-status-label>
<app-status-label
  class="stage-header__status-label"
  status="signed"
></app-status-label>
<app-status-label
  class="stage-header__status-label"
  status="signed-single"
></app-status-label>
<app-status-banner status="pending"></app-status-banner>
<app-status-banner status="signed"></app-status-banner>
