:host {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--spacing-xl-24px);
}

.stage-header__title {
  margin: 0;

  font-size: 24px;
  line-height: 30px;
}

.stage-header__count-label {
  margin: 8px 0 0;
}

.stage-header__status-label {
  margin: var(--spacing-l-16px) 0px;
}

.stage-header__span {
  margin-top: var(--spacing-xl-24px);
}
