<div class="addressee__header">
  <app-subtitle>Получатель</app-subtitle>
  <app-button
    [isEnabled]="!(isAddresseeAdded$ | async)"
    class="addressee__add-button"
    styleOption="skeleton"
    colorOption="regular"
    iconOption="plus"
    sizeOption="custom"
    (onClick)="showSelectorModal()"
    >Добавить</app-button
  >
</div>
<app-addressee-nameplate
  *ngIf="isAddresseeAdded$ | async"
  (clickRemoveButton)="removeAddressee()"
  [name]="(addresseeName$ | async)!"
  [phone]="addresseePhone$ | async"
  [vatId]="addresseeVatId$ | async"
></app-addressee-nameplate>
<app-modal [openTrigger]="openModalEmitter" [closeTrigger]="closeModalEmitter">
  <app-add-addressee-form
    (onSubmit)="hideSelectorModal()"
  ></app-add-addressee-form>
</app-modal>
