:host {
  box-sizing: border-box;
  padding-top: 24px;
  padding-bottom: 40px;
  border-top: 2px solid var(--line-color-gray);
}

.addressee__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.addressee__add-button {
}
