@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.item {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  column-gap: var(--spacing-s-8px);
  align-items: center;
  height: var(--spacing-5xl-56px);
  padding: var(--spacing-s-8px) var(--spacing-l-16px);
  border: 1px solid var(--line-color-gray);
  border-radius: 4px;
  background-color: var(--bg-color-row-hover);

  animation: fadeIn 0.7s ease;
}

.item:hover {
  cursor: pointer;
  background-color: var(--stroke-color-regular-hover);
  border-color: var(--stroke-color-regular-hover);
  transition: background-color 0.2s, border-color 0.2s;
}

.item:active {
  background-color: var(--stroke-color-regular);
  border-color: var(--stroke-color-regular);
}

.item__details-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0px;
}

.item__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  color: var(--txt-color-primary);
}

.item__date {
  font-size: small;
  color: var(--txt-color-tertiary);
  margin-top: auto;
  margin-bottom: auto;
}

.item__status-label {
  margin-left: auto;
}
