@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:host {
  border: 1px solid lightseagreen;
  border-radius: 4px;
  padding: 3px;
  animation: fadeIn 0.2s ease;
}

:host:hover {
  cursor: pointer;
  background-color: lightseagreen;
}

:host:active {
  background-color: aquamarine;
}

.item {
  display: flex;
  flex-direction: row;
}

.item__status-label {
  margin-left: auto;
}
