:host {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s-8px);

  font-size: 14px;
  line-height: 20px;
}

.documents-item__plate {
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "icon filename"
    ". status-label";
  grid-template-columns: auto 1fr;
  grid-template-rows: min-content min-content;
  column-gap: var(--spacing-m-12px);
  min-height: var(--spacing-4xl-48px);
  padding: var(--spacing-m-12px) var(--spacing-l-16px);
  border: 1px solid var(--line-color-gray);
  border-radius: 4px;
}

.documents-item__icon {
  grid-area: icon;
  align-self: start;
}

.documents-item__filename {
  grid-area: filename;
  display: flex;
  align-items: center;
  margin: 0;
}

.documents-item__status-label {
  grid-area: status-label;
  margin-top: var(--spacing-s-8px);
}

.documents-item__details-button {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-xl-24px);
  border-style: none;
  background-color: var(--this-bg-color);
  cursor: pointer;
  color: var(--txt-color-tertiary);
}
