<div class="sign-info__status-plate" (click)="fold()">
  <p *ngIf="signature.isUl" class="sign-info__signer-name">
    {{ signature.snapshot.companyName }}
  </p>
  <p *ngIf="!signature.isUl" class="sign-info__signer-name">
    {{ signature.certificateOwner }}
  </p>
  <p *ngIf="signature.isUl" class="sign-info__signer-vat-id">
    ИНН {{ signature.snapshot.companyInn }}
  </p>
  <app-status-label
    class="sign-info__status-label"
    status="signed-single"
  ></app-status-label>
  <svg
    class="sign-info__fold-button"
    [ngClass]="{ 'sign-info__fold-button_folded': isFolded }"
    (click)="fold()"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_215_2682)">
      <path
        d="M12 3.5C16.9706 3.5 21 7.52944 21 12.5C21 17.4706 16.9706 21.5 12 21.5C7.02944 21.5 3 17.4706 3 12.5C3 7.52944 7.02944 3.5 12 3.5Z"
        stroke="#222835"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path d="M9 13.5L12 10.5L15 13.5" stroke="#222835" stroke-width="2" />
    </g>
    <defs>
      <clipPath id="clip0_215_2682">
        <rect
          width="24"
          height="24"
          fill="white"
          transform="matrix(1 0 0 -1 0 24)"
        />
      </clipPath>
    </defs>
  </svg>
</div>
<div
  class="sign-info__fold-area"
  [ngClass]="{ 'sign-info__fold-area_folded': isFolded }"
>
  <table class="sign-info__table">
    <tbody>
      <tr *ngIf="signature.isUl" class="sign-info__table-row">
        <th class="sign-info__table-cell sign-info__table-cell_header">
          Время проверки по ЕГРЮЛ
        </th>
        <td class="sign-info__table-cell sign-info__table-cell_data">
          {{
            signature.snapshot.procuratoryIssueDateTimeUtc
              | date : "d MMM y, h:mm"
          }}
        </td>
      </tr>
      <tr *ngIf="signature.isUl" class="sign-info__table-row">
        <th class="sign-info__table-cell sign-info__table-cell_header">
          Номер проверки ЕГРЮЛ
        </th>
        <td class="sign-info__table-cell sign-info__table-cell_data">
          {{ signature.snapshot.procuratoryId }}
        </td>
      </tr>
      <tr class="sign-info__table-row">
        <th class="sign-info__table-cell sign-info__table-cell_header">
          Время подписи
        </th>
        <td class="sign-info__table-cell sign-info__table-cell_data">
          {{ signature.signingDateTime | date : "d MMM y, h:mm" }}
        </td>
      </tr>
      <tr class="sign-info__table-row">
        <th class="sign-info__table-cell sign-info__table-cell_header">
          Идентификатор пользователя
        </th>
        <td class="sign-info__table-cell sign-info__table-cell_data">
          {{ signature.userGuid }}
        </td>
      </tr>
      <tr class="sign-info__table-row">
        <th class="sign-info__table-cell sign-info__table-cell_header">
          Идентификатор пользователя в подсистеме эл. подписи
        </th>
        <td class="sign-info__table-cell sign-info__table-cell_data">
          {{ signature.userGuid }}
        </td>
      </tr>
      <tr class="sign-info__table-row">
        <th class="sign-info__table-cell sign-info__table-cell_header">
          Код подтверждения
        </th>
        <td class="sign-info__table-cell sign-info__table-cell_data">
          {{ signature.confirmCode }}
        </td>
      </tr>
      <tr class="sign-info__table-row">
        <th class="sign-info__table-cell sign-info__table-cell_header">
          Подпись
        </th>
        <td class="sign-info__table-cell sign-info__table-cell_data">
          {{ signature.signature }}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="sign-info__technical-data">
    <svg
      class="sign-info__technical-data-icon"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter0_i_215_2489)">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M14 6C14 7.10457 13.1046 8 12 8C10.8954 8 10 7.10457 10 6C10 4.89543 10.8954 4 12 4C13.1046 4 14 4.89543 14 6ZM13 9.87398C14.7252 9.42994 16 7.86384 16 6C16 3.79086 14.2091 2 12 2C9.79086 2 8 3.79086 8 6C8 7.86384 9.27477 9.42994 11 9.87398V14V16V17V19L11 21H13V19H15V17H13V16H17V14H13L13 9.87398Z"
          fill="#222835"
        />
      </g>
      <defs>
        <filter
          id="filter0_i_215_2489"
          x="0"
          y="0"
          width="24"
          height="28"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"
          />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset dy="4" />
          <feGaussianBlur stdDeviation="2" />
          <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
          />
          <feBlend
            mode="normal"
            in2="shape"
            result="effect1_innerShadow_215_2489"
          />
        </filter>
      </defs>
    </svg>
    Техническая информация о подписи.txt
  </div>
</div>
