<app-button
  styleOption="solid"
  colorOption="regular"
  iconOption="trash"
  caption="Test"
></app-button>
<app-button
  styleOption="blank"
  colorOption="regular"
  iconOption="trash"
  caption="Test"
></app-button>
<app-button
  styleOption="skeleton"
  colorOption="regular"
  iconOption="trash"
  caption="Test"
></app-button>

<app-button
  styleOption="solid"
  colorOption="danger"
  iconOption="trash"
  caption="Test"
></app-button>
<app-button
  styleOption="blank"
  colorOption="danger"
  iconOption="trash"
  caption="Test"
></app-button>
<app-button
  styleOption="skeleton"
  colorOption="danger"
  iconOption="trash"
  caption="Test"
></app-button>
<app-button
  styleOption="solid"
  colorOption="regular"
  iconOption="sign"
  caption="Test"
></app-button>
<app-button
  styleOption="blank"
  colorOption="regular"
  iconOption="sign"
  caption="Test"
></app-button>
<app-button
  styleOption="solid"
  colorOption="regular"
  iconOption="plus"
  caption="Test"
></app-button>
<app-button
  styleOption="blank"
  colorOption="regular"
  iconOption="plus"
  caption="Test"
></app-button>
